# Java / Maven / Gradle
target/
**/target/
*.class
out/
bin/
**/bin/
.gradle/
**/.gradle/
build/
**/build/

# Runtime / Local Data
# 실제 데이터가 담긴 폴더는 깃 관리에서 제외합니다.
data/kafka/
data/chroma/
data/reports/
local_chroma_test_db/

# IDE / editor
.idea/
.vscode/
*.iml